<main>
  <h1 class="text-center text-uppercase">Hello world</h1>
  <h2 class="text-end text-lowercase">Second</h2>
  <h3 class="text-capitalize">3 title one two</h3>

  <hr>

  <div class="display-1 text-muted">Hello world</div>
  <div class="display-5">Second</div>
  <div class="display-6">3 title</div>

  <hr>
  <div class="text-muted text-end">

    Додатковий <span class="display-6">текст</span>
  </div>

  <hr>
  <div class="card">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Button primary
      </a>

    </div>

    <br>
    <br>
    <br>


    <div class="card">
      <div class="card-body">
        <div class="text">My text</div>
        <div class="text-dark">My text</div>
        <div class="text-muted">My text</div>

      </div>
    </div>


    <br>
    <br>
    <br>

    <div class="card">
      <div class="card-body">
        <button class="btn btn-secondary btn-lg">Додати</button>
        <button class="btn btn-outline-secondary ">Редагувати</button>
        <button class="btn btn-outline-dark btn-sm">Видалити</button>

      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
      <div class="card-body">
        This is content
      </div>
    </div>

    <div>

    </div>
    <div class="row">
      <div class="col-12 mb-5">
        <div class="nav nav-tabs">
          <div class="nav-item">
            <a href="#" class="nav-link active">Main</a>
          </div>
          <div class="nav-item">
            <a href="#" class="nav-link disabled">Catalog</a>
          </div>
          <div class="nav-item">
            <a href="#" class="nav-link ">Shop list</a>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card">
          <div class="pt-4 pb-3 px-4">
            <div class="nav flex-column">
              <div class="nav-item mb-2">
                <div class="card">
                  <a href="/summary" class="nav-link">Home page</a>
                </div>
              </div>
              <div class="nav-item mb-2">
                <div class="card">
                  <a href="#" class="nav-link disabled">Bootstrap</a>
                </div>

              </div>
              <div class="nav-item mb-2">
                <div class="card">
                  <a href="/skills" class="nav-link ">FAQ page</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-7 pe-5">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">PC та Ноутбук</a>
              </li>
              <li class="breadcrumb-item">
                Lenovo
              </li>
            </ol>
          </div>
          <div class="col-12">
            <button class="btn btn-primary rounded-pill mb-3">Click me</button>

            <div class="alert alert-dark">
              <h6 class="mb-2">Hello world! <span class="badge text-bg-warning rounded-pill text-uppercase">Топ
                  продаж</span></h6>
              <p class="m-0">This is info</p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-12">
        <label class="form-label">Email address</label>
        <input class="form-control">
        <div class="form-text text-danger">Error. You need to set correct email</div>

      </div>
      <div class="col-12">

        <div class="row">
          <div class="col-2 pt-1">
            <label class="form-label">Email address</label>
          </div>
          <div class="col-6">
            <input class="form-control form-control-sm">
          </div>
          <div class="col-4 ps-5 pt-1">
            <div class="form-text text-danger">Error. You need to set correct email</div>
          </div>
        </div>
      </div>
      <div>
        <hr>
      </div>
      <div class="col-12">
        <label class="form-label">Select role</label>
        <select class="form-select form-select-lg">
          <option selected>Open list</option>
          <option value="1">Admin</option>
          <option value="2">User</option>
        </select>
        <div class="form-text text-danger">Error. You need to set correct email</div>

      </div>
      <div>
        <hr>
      </div>
      <div class="col-12">
        <div class="form-check form-switch">
          <label class="form-check-label">Get bonus</label>
          <input name="food" type="checkbox" class="form-check-input">
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-12">
        <label class="form-label">Email address</label>
        <input class="form-control">
        <div class="form-text text-danger">Error. You need to set correct email</div>

      </div>
      <div class="col-12">

        <div class="row">
          <div class="col-2 pt-1">
            <label class="form-label">Email address</label>
          </div>
          <div class="col-6">
            <input class="form-control form-control-sm">
          </div>
          <div class="col-4 ps-5 pt-1">
            <div class="form-text text-danger">Error. You need to set correct email</div>
          </div>
        </div>
      </div>
      <div>
        <hr>
      </div>
      <div class="col-12">
        <label class="form-label">Select role</label>
        <select class="form-select form-select-lg">
          <option selected>Open list</option>
          <option value="1">Admin</option>
          <option value="2">User</option>
        </select>
        <div class="form-text text-danger">Error. You need to set correct email</div>

      </div>
      <div>
        <hr>
      </div>
      <div class="col-12">
        <div class="form-check form-switch">
          <label class="form-check-label">Get bonus</label>
          <input name="food" type="checkbox" class="form-check-input">
        </div>
      </div>
    </div>

    <h5>
      Hello! <i class="bi bi-emoji-smile"></i>
      <i class="fa-solid fa-brain fa-beat" style="color: #f0d6b2;"></i>
    </h5>
    <button class="btn btn-warning"><i class="bi bi-sd-card-fill"></i></button>
    <i class="fa-solid fa-brain fa-beat" style="color: #f0d6b2;"></i>
    <div>
      <img src="/svg/slack.svg" alt="">
    </div>
</main>