<main>
    <div class="row">
        <div class="card">
            <div class="d-flex card-body justify-content-between">
                <div>Цирульник Максим Сергійович</div>
                <div>Resume project</div>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <div>
        <h3>Список сторінок</h3>
        <p>Даний проєкт складається з 5 сторінок</p>
        <p><a class="btn btn-primary" href="/js">JS</a></p>
        <p><a class="btn btn-primary" href="/car">Car</a></p>
        <p><a class="btn btn-primary" href="/task21">Task21</a></p>
        <p><a class="btn btn-primary" href="/task22">Task22</a></p>
        <p><a class="btn btn-primary" href="/task31">Task31</a></p>
    </div>
    </div>

</main>