<main>
    <div class="row">
        <div class="card">
            <div class="d-flex card-body justify-content-between">
                <div>Цирульник Максим Сергійович</div>
                <div>Resume project</div>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <div>
        <h3>Список сторінок</h3>
        <p>Даний проєкт складається з 13 сторінок</p>
        <p><a class="btn btn-primary" href="/mac">Mac</a></p>
        <p><a class="btn btn-primary" href="/facebook">Facebook</a></p>
        <p><a class="btn btn-primary" href="/js">JS</a></p>
        <p><a class="btn btn-primary" href="/car">Car</a></p>
        <p><a class="btn btn-primary" href="/task21">Task21</a></p>
        <p><a class="btn btn-primary" href="/task22">Task22</a></p>
        <p><a class="btn btn-primary" href="/task31">Task31</a></p>
        <p><a class="btn btn-primary" href="/shophome">Shophome</a></p>
        <p><a class="btn btn-primary" href="/shopproduct">Shopproduct</a></p>
        <p><a class="btn btn-primary" href="/shopnews">Shopnews</a></p>
        <p><a class="btn btn-primary" href="/shoporder">Shoporder</a></p>
        <p><a class="btn btn-primary" href="/shopcart">Shopcart</a></p>
        <p><a class="btn btn-primary" href="/shopprofile">Shopprofile</a></p>
        <p><a class="btn btn-primary" href="/shopreview">Shopreview</a></p>
    </div>
    </div>

</main>