{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!--<section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <button type="button" class="button" id="button">Купити</button>
    <p class="user">Link</p>
</section>

<section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <em>Test</em>
    <p class="user">Link</p>
</section>

<section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <em>Test</em>
    <section>
        <p class="user">Link</p>
    </section>

</section>
--}}
{{!--<footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class="user"><em>Test EM</em></p>
    <div>
        <div>
            <em class="child">Test EM</em>
        </div>
    </div>
    <div class="child">Test EM</div>
</footer>


Цей код містить лише те, що буде в

<body> Адже нащ layout/default.hbs вже має структуру HTML
    --}}
    {{!--
    <div class="card p-5 m-5 card-dark">
        <div class="item">First</div>
        <div class="item">First</div>
        <div class="item">First</div>
        <p class="item">Second</p>
        <p class="item">Second</p>
        <strong class="item">Test strong</strong>
        <article class="item">Last</article>
        <article class="item">Last</article>
        <p></p>
        <article class="item">Last</article>
        <article class="item">Last</article>
        <article class="item">Last</article>
        <article class="item">Last</article>
    </div>
    --}}
    <div class="card p-5 m-5 card-dark">
        <input class="input-dark p-5" placeholder="This is text" required>
        {{!--<input class="input-dark" type="number">--}}
    </div>
    <div class="card p-5 m-5 card-dark img">
        <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" alt="">

        <a href="https://picsum.photos/200/300" rel="external">Link</a>
        <br>
        <button class="before-after btn">Click me</button>
        <br>
        <a class="before-after small btn btn-secondary" href="https://picsum.photos/200/300">Click me</a>
    </div>
    <div class="card p-5 m-5 card-dark img">
        <p class="before-after">This is text about<br> info big test info</p>
    </div>