{{!--
Це код container файлу для summury сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summury"
--}}

<div>
    {{#with main}}
    <main>
        <section class="mb-5">
            {{> title data=summary.title big=true}}
            <div>
                <p>
                    {{summary.text}}
                </p>
            </div>
        </section>

        {{#with experience}}
        <section>
            {{> title data=title}}
            <div>
                <p>
                    {{text}}
                </p>
            </div>
        </section>
        {{/with}}
    </main>
    {{/with}}
</div>