/*:root {
  background: purple;
}

html {
  max-width: 720px;
  background: blue;
}
body {
  background: #fff;
}

* {
  color: #666;
}

h1 {
  color: green;
}

.box {
  background: #cfcfcf;
}
h1.button {
  background: red;
}

h1,
h2#user,
button.button#button {
  color: green;
}

#user,
.user {
  color: blue;
}

#box > p {
  color: paleturquoise;
}

footer > .user {
  color: palevioletred;
}

footer > h1 {
  color: palevioletred;
}

footer em.child,
footer div.child {
  color: rgb(0, 247, 111);
}

.p-top {
  background: black;
}

h1 ~ * > p {
  background: black;
}*/

.card-dark {
  background: #ededed;
}
.item {
  color: green;
}

.item:last-of-type {
  color: blue;
}

.item:only-of-type {
  color: red;
}

.item:nth-of-type(3n) {
  color: rgb(0, 255, 174);
}

.item:not(p) {
  color: blueviolet;
}

p:empty {
  height: 10px;
  background: red;
}
