<!DOCTYPE html>
<html>

<head>
    <title>
        {{page.title}}
        Page name
    </title>
    <meta charset="utf-8" />
    <link href='css/index.css' rel="stylesheet" />
</head>

<body>
    {{! ця конструкція показує куди шаблонізатору треба вставляти код з container файлу --}}
    {{!
    {{#with header}}
    {{body}}
    <br>
    <hr>

</body>

</html>